{% extends '../base_bootstrap.html' %}
{% block title %}Buddy list{% endblock title %}
{% block content %}
    <h2>Список приятелей:</h2>
    <ol>
    {% for buddy in object_list %}
        <li>
            {{ buddy.full_name }} 
            <sup>
                <a href="{% url 'jlibrary:buddy-edit' buddy.pk %}">edit</a>
                <a href="{% url 'jlibrary:buddy-delete' buddy.pk %}">[&times;]</a>
            </sup>
        </li>
    {% endfor %}
    </ol>
    <br>
    <a href="{% url 'jlibrary:buddy-create' %}">Добавить другого товарища</a>
{% endblock content %}
