{% extends 'base_bootstrap.html' %}
{% block title %}Index page{% endblock title %}
{% block content %}
Добро пожаловать в {{ title }}!
Тут {{ books | length }} книг.

<table border="1">
    <thead>
        <th>id</th>
        <th>title</th>
        <th>ISBN</th>
        <th>description</th>
        <th>year</th>
        <th>author</th>
        <th>count</th>
        <th>price</th>
        <th>actions</th>
    </thead>
    {% for book in books %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.ISBN }}</td>
        <td>{{ book.description }}</td>
        <td>{{ book.year_release }}</td>
        <td>{{ book.authors_info }}</td>
        <td>{{ book.copies_in_stock }}</td>
        <td>{{ book.price }}</td>
        <td>
            <form action="/index/book_increment" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ book.id }}">
                <input type="submit" value="incr">
            </form>
            <form style="margin-bottom: 0;" action="/index/book_decrement" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ book.id }}">
                <input type="submit" value="decr">
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}