<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>index_page</title>
</head>
<body>
	{% if username %}
	<h2>Привет, {{ username }} ({{ github_url }})!</h2>
	<p>Тут ты можешь <a href="{% url 'common:user-logout' %}">выйти</a>.</p>  
	{% else %}
	<p>Привет! Тебе следует авторизоваться.</p>
	{% comment %} <p><a href="{% url 'account_login' %}">Войти</a></p>   {% endcomment %}
	<p><a href="{% url 'common:user-login' %}">Войти</a></p>  
	{% comment %} <p><a href="{% url 'common:user-register' %}">Зарегистрироваться</a></p>   {% endcomment %}
	{% endif %}
</body>
</html>