{% extends 'base_bootstrap.html' %}
{% block title %}Common page{% endblock title %}
{% block content %}
	{% if username %}
	<h2>Привет, {{ username }} ({% if provider %}
	{{ url }}@{{ provider}}{% else %}local-user{% endif %})!</h2>
	<p>{{ data }}</p>
	<p><a href="{% url 'common:user-info' %}">Страница редактирования профиля</a></p>
	<p>Тут ты можешь <a href="{% url 'common:user-logout' %}">выйти</a>.</p>  
	{% else %}
	<p>Привет! Тебе следует авторизоваться.</p>	
	<p><a href="{% url 'common:user-login-socials' %}">Войти (соцсети или логин-пароль)</a></p>
	<p><a href="{% url 'common:user-register' %}">Зарегистрироваться</a></p>  
	{% endif %}
{% endblock content %}